@media (min-width: 0) {
	footer .container {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	footer .container .column:first-child {
		flex: 1 0 100%;
		color: #ddd;
	}
	footer .container .column:not(first-child) {
		width: 50%;
	}
	footer p {
		color: var(--color-2);
	}
	footer ul {
		list-style: none;
		padding: 0;
	}
	footer a {
		color: #fff;
	}
}
@media (min-width: 768px) {
	footer .container .column:not(first-child) {
		width: 20%;
	}
}
@media (min-width: 992px) {
	footer .container .column:not(first-child) {
		width: 20%;
	}
}
@media (min-width: 1200px) {
	footer .container .column:not(first-child) {
		width: 20%;
	}
}
@media (min-width: 1400px) {
	footer .container .column:not(first-child) {
		width: 20%;
	}
}

@media (min-width: 1680px) {
	footer .container .column:not(first-child) {
		width: 20%;
	}
}
