#overlay_search,
#overlay_menu {
	position: fixed;
	background: rgba(0, 0, 0, 0.4);
	top: 40px;
	right: 0;
	bottom: 0;
	left: 0;
	transition: 0.3s all;
}
#overlay_menu.slide {
	left: 240px;
}
#overlay_search {
	top: 100px;
	background: rgba(0, 0, 0, 0.8);
}
.btn-humber {
	position: absolute;
	left: 0;
	top: 50%;
	padding: 10px;
	transition: 0.3s all;
	transform: translateY(-50%);
}
.btn-humber.active {
	left: 248px;
}
.btn-humber p {
	display: block;
	width: 30px;
	height: 3px;
	background: #ffffff;
	border-radius: 1px;
	margin: 0 0 5px 0;
}
.fa-search.mobile {
	color: #ffffff;
	position: absolute;
	right: 0;
	top: 50%;
	padding: 8px 10px 7px 16px;
	font-size: 25px;
	transform: translateY(-50%);
}
#header .left-banner,
#header .right-banner {
	position: fixed;
	z-index: 10;
	top: 120px;
}
#header .left-banner {
	left: 10px;
}
#header .right-banner {
	right: 10px;
}
@media (max-width: 1260px) {
	.float-ads,
	#header .left-banner,
	#header .right-banner {
		display: none;
	}
}

@media (max-width: 979px) {
	.list-films .card-h {
		grid-template-columns: repeat(3, 1fr);
	}
	.box-filter {
		grid-template-columns: repeat(3, 1fr) !important;
	}
	.list-films .card-h.wide {
		grid-template-columns: repeat(4, 1fr);
	}
}
@media (max-width: 479px) {
	.list-films .card-h {
		grid-template-columns: repeat(2, 1fr);
	}
	.box-filter {
		grid-template-columns: repeat(2, 1fr) !important;
	}
	.list-films .card-h.wide {
		grid-template-columns: repeat(3, 1fr);
	}
	#page-info .blockbody .box-info {
		flex-direction: column;
	}
}

@media (min-width: 250px) and (max-width: 979px) {
	body,
	html {
		min-width: 0;
	}
	.container {
		padding: 0 8px;
		width: auto;
	}
	.download-box .ads,
	.main-content .right-content,
	.btn-contact {
		display: none;
	}
	.vjs-live-controls {
		display: none;
	}
	.vjs-default-skin .vjs-play-control {
		width: 3em;
	}
	#header {
		width: 100%;
		height: auto;
		position: relative;
		text-align: center;
	}
	#header .logo {
		display: block;
		margin: 0 auto;
		overflow: hidden;
	}
	#header .logo img {
		width: 180px;
	}
	#form_search,
	#mform_search {
		position: absolute;
		top: 50px;
		left: 0;
		right: 0;
		z-index: 12;
		border: 1px solid var(--color);
		border-radius: 4px;
		padding: 5px;
		font-style: italic;
		width: 100%;
		background-color: #fff;
		outline: none;
		transition: all 0.3s ease;
		display: none;
	}
	#mform_search i {
		color: #000;
		font-size: 20px;
	}

	#form_search.expanded,
	#mform_search.expanded {
		display: block;
	}
	#mkeyword {
		background: transparent;
		border: none;
		outline: none;
		width: 93%;
		height: 40px;
		color: #000;
	}
	.expanded #msuggestions {
		position: static;
		margin: 0;
	}
	#msuggestions ul.autocomplete-list {
		width: 99%;
		padding: 0;
	}
	#film_related.owl-carousel,
	#film_hot.owl-carousel {
		height: auto;
	}
	#form_search .fa-arrow-circle-right {
		font-size: 18px;
		font-size: 20px;
		float: right;
		margin: 1px 0 0 0;
		position: absolute;
	}
	#footer .desc {
		width: auto;
	}
	#footer .info {
		float: left;
		width: auto;
		width: 100%;
		padding: 2%;
	}
	.title-box {
		padding-left: 8px;
	}
	.list-films .label-quality {
		bottom: 60px;
	}
	.main-menu ul.container {
		padding: 0;
	}
	.main-menu.fix-nav,
	.main-menu {
		position: fixed;
		width: 240px;
		left: -240px;
		bottom: 0;
		overflow-x: hidden;
		overflow-y: auto;
		top: 0;
		z-index: 11;
		transition: 0.3s all;
	}
	.main-menu.expanded {
		left: 0;
	}
	.main-menu .menu-item {
		display: block;
		float: none;
		width: 100%;
	}
	.main-menu .menu-item:hover .sub-menu {
		display: none;
	}
	.main-menu .menu-item .sub-menu.expanded {
		display: block;
		position: inherit;
	}
	.main-menu .menu-item > a:after {
		content: '+';
		float: right;
		font-size: 30px;
		line-height: 16px;
		color: #fff;
		margin: 2px 5px 0 0;
	}
	.main-menu .menu-item:first-child a:after {
	}
	.main-menu .menu-item > a.active:after {
		content: '-';
		font-size: 25px;
	}
	.main-menu .menu-item .sub-menu {
		width: 100% !important;
	}
	.main-menu .menu-item .sub-menu.span-2 .sub-menu-item,
	.main-menu .menu-item .sub-menu.span-3 .sub-menu-item {
		float: none;
		width: auto;
	}
	.sub-menu .sub-menu-item a {
		padding-left: 20px;
	}
	.main-content .left-content {
		width: 100%;
	}
	.main-menu .menu-item.active > a {
		background: none;
	}
	.title-box .view-all,
	.title-box .list-tab-label {
		display: none;
	}

	.form-filter .filter-item {
		margin-bottom: 10px;
	}
	.breadcrumbs a,
	.breadcrumbs span {
		display: inline-block;
		margin: 0 0 5px 0;
	}
	.breadcrumbs > a:first-child {
		padding-left: 10px;
	}
	#player .water-mark {
		font-size: 12px;
	}
	#player-video .details .name {
		width: auto;
	}
	#player-video .details .name h1,
	.fullscreen {
		font-size: 1.2em;
	}
	#player-video .details .name h2 {
		font-size: 1.1em;
	}
	#player-video .details .name h1,
	#player-video .details .name h2.chapter-name,
	#player-video .details .name span {
		font-size: 1.2em;
	}
	.form-filter .filter-item .form-control#year {
		width: 80px !important;
	}
	#player .countdown-wrapper {
		font-size: 1.2em;
	}
	.vjs-default-skin .vjs-res-button {
		width: 8em;
		margin-right: 5px;
	}
	.vjs-default-skin .vjs-res-button ul li {
		width: 3em;
		float: left;
	}
	#player-video .details .social-icon {
		margin-left: 18px;
	}
}
@media (min-width: 720px) and (max-width: 999px) {
	.film-new > ul {
		margin-left: -1%;
		margin-right: -1%;
	}
	.video-js.vjs-fullscreen .vjs-text-track,
	.video-js .vjs-text-track {
		font-size: 20px;
	}
	#player .countdown-wrapper {
		font-size: 1.3em;
	}
}
@media (min-width: 480px) and (max-width: 999px) {
	.film-new > ul {
		margin-left: -1.3%;
		margin-right: -3.3%;
	}
	.form-filter .filter-item .form-control {
		width: 120px !important;
	}
}
@media (min-width: 250px) and (max-width: 479px) {
	.video-js {
		overflow: hidden;
	}
	.box-rating #star {
		float: none;
	}
	#div_average {
		margin: 5px 0 !important;
	}
	#player-video .details .box-rating {
		margin-right: 0;
	}
	.film-new > ul {
		margin-left: -2%;
		margin-right: -2%;
	}
	#player-video .details .social-icon {
		margin-left: 0;
	}

	#page-info .blockbody .text {
		margin: 10px 0;
	}
	#page-info .blockbody .text h1 {
		text-align: center;
		margin: 0 0 15px 0;
	}
	#page-info .text .box-rating {
		margin: 8px 0 0 0;
	}
	.form-filter .filter-item .form-control {
		width: 120px !important;
	}
	.video-js.vjs-fullscreen .vjs-text-track,
	.video-js .vjs-text-track {
		font-size: 16px;
	}
	#player .countdown-wrapper {
		font-size: 1em;
		top: 5%;
	}
	div.skip-ads {
		bottom: inherit;
		top: 10px;
	}
}
@media (min-width: 250px) and (max-width: 767px) {
	#player .water-mark.top-right {
		top: 5px;
		right: 0px;
		background: none;
		padding: 0;
	}
	#player .water-mark {
		font-size: 10px;
	}
	.lamp {
		clear: both;
	}
	.video-js.vjs-fullscreen .vjs-text-track,
	.video-js .vjs-text-track {
		font-size: 16px;
	}
	#player-video .details .social-icon div {
		margin-bottom: 5px;
	}
	.choose-server li {
		margin-bottom: 5px;
	}
	.div-control {
		margin-top: 30px;
	}
	#btn_autonext,
	#btn_download {
		display: none;
	}
}
.advs-top-mobile > div {
	margin: 0 auto;
}

/* ============================== File New ============================== */
@media screen and (max-width:379px) {
	.v-pagination .btn-lg {
		font-size: 14px;
		min-height: 44px;
		padding: .5rem 1.2rem;
	}
	
	.v-pagination .btn-.circle {
		width: 44px;
		padding: .5rem;
	}
	
	.de-eps.is-grid .item .info {
		font-size: .9em;
	}
	
	.dcc-side .menu-user .item .line-center span {
		font-size: 11px;
	}
}
